.button {
  padding: 12px 16px;
  border-radius: $border-radius-default;
  transition: background-color 0.2s ease-in-out;
  &_primary {
    color: $font-secondary;
    &.button_default {
      background-color: $background-primary;
      &:hover {
        background-color: $background-primary-hover;
      }
    }
    &.button_active {
      background-color: $background-primary-active;
    }
    &.button_disabled {
      background-color: $background-primary-disabled;
    }
  }
  &_secondary {
    color: $font-primary;
    border: $border-default;
    &.button_default {
      background-color: $background-secondary;
      &:hover {
        background-color: $background-secondary-hover;
        border: $border-hover;
      }
    }
    &.button_active {
      background-color: $background-secondary-active;
      border: $border-active;
    }
    &.button_disabled {
      border: $border-disabled;
    }
  }
  &_disabled {
    color: $font-disabled;
  }
  &_small {
    padding: 9px;
    display: flex;
  }
}
