@import '../../css/vars.css';
@import '../../css/main.css';

.button {
  padding: 12px 16px;
  border-radius: var(--border-radius-default);
  transition: background-color 0.2s ease-in-out;
}

.button_primary {
  color: var(--font-secondary);
}

.button_secondary {
  color: var(--font-primary);
  border: var(--border-default);
}

.button_disabled {
  color: var(--font-disabled);
}

.button_small {
  padding: 9px;
}

.button_primary_default {
  background-color: var(--background-primary);
}

.button_primary_default:hover {
  background-color: var(--background-primary-hover);
}

.button_primary_active {
  background-color: var(--background-primary-active);
}

.button_primary_disabled {
  background-color: var(--background-primary-disabled);
}

.button_secondary_default:hover {
  background-color: var(--background-secondary-hover);
  border: var(--border-hover);
}

.button_secondary_active {
  background-color: var(--background-secondary-active);
  border: var(--border-active);
}

.button_secondary_disabled {
  border: var(--border-disabled);
}
