@import '../../css/vars.css';
@import '../../css/main.css';
@import '../button/style.css';
@import '../more-icon/style.css';

.list-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 16px 8px;
  border-bottom: var(--border-active);
}

.list-item__content {
  max-width: 100%;
  width: 100%;
  transition: max-width 0.2s ease-in-out;
}

.list-item__title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: 2.75em;
}

.list-item__info {
  display: flex;
  column-gap: 16px;
}

.list-item__num {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list-item__status {
  white-space: nowrap;
  color: var(--font-disabled);
}

.list-item__status_right {
  flex-grow: 1;
  text-align: right;
}

.list-item__more-icon {
  width: 0;
  padding: 0;
  border: 0;
  transition: all 0.2s linear;
}

.list-item:hover .list-item__more-icon {
  margin-left: 16px;
  width: 44px;
  padding: 9px;
  border: var(--border-default);
}

.list-item:hover .list-item__content {
    max-width: calc(100% - 60px);
  }
