.input-wrapper {
  border-radius: $border-radius-default;
  background-color: $background-secondary;
  display: flex;
  align-items: center;
  padding-right: 8px;
  &__input {
    flex-grow: 1;
    width: 100%;
    padding: 10px 0 10px 12px;
    color: inherit;
    background-color: transparent;
    cursor: inherit;
    &::placeholder {
      color: $font-placeholder;
    }
  }
  &__icon {
    margin-left: 8px;
    color: $font-disabled;
    flex-shrink: 0;
    &_clear {
      cursor: pointer;
    }
  }
  &_default {
    border: $border-default;
    &:hover {
      border: $border-hover;
    }
  }
  &_active {
    border: $border-active;
  }
  &_error {
    border: $border-error;
  }
  &_disabled {
    background-color: $background-primary-disabled;
    border: $border-disabled;
    color: $font-disabled;
  }
  &_search {
    .input-wrapper__input {
      padding: 10px 0 10px 12px;
    }
  }
  &_small {
    border-width: 0 0 1px 0;
    border-radius: 0;
    .input-wrapper__input {
      padding: 8px 0 8px 12px;
    }
    &:hover {
      border-width: 0 0 1px 0;
    }
  }
  &_small.input-wrapper_disabled {
    background-color: white;
    color: transparent;
    .input-wrapper__input::placeholder {
      color: transparent;
    }
    .input-wrapper__icon {
      color: $font-placeholder;
    }
  }
  &_date {
    max-width: 130px;
    cursor: pointer;
  }
}
