<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./style.css" />
    <title>Navigation</title>
  </head>
  <body>
    <header class="navigation">
      <button class="navigation__item_default button button_primary button_primary_default" type="button">Проекты</button>
      <button class="navigation__item_default button button_primary button_primary_default" type="button">Задачи</button>
      <button class="navigation__item_active button" type="button">Пользователи</button>
      <button class="navigation-user" type="button" title="Профиль">
        <img class="avatar" src="../../img/profile.jpg" alt="Изображение профиля" />
        <svg
          class="navigation-user__arrow"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M12 13.95L7.04999 9L5.63599 10.414L12 16.778L18.364 10.414L16.95 9L12 13.95Z" />
        </svg>
      </button>
    </header>
  </body>
</html>
