@import '../../css/vars.css';
@import '../../css/main.css';
@import '../button/style.css';
@import '../avatar/style.css';

.navigation {
  width: 100%;
  background-color: var(--background-primary);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  padding: 24px;
}

.navigation__item_default {
  border: 1px solid var(--background-secondary);
}

.navigation__item_active {
  background-color: var(--background-secondary);
  color: var(--font-primary);
}

.navigation__item_default:hover {
  background-color: var(--background-secondary-hover);
  color: var(--font-primary);
}

.navigation-user {
  padding: 9px 16px;
  display: flex;
  border-radius: var(--border-radius-default);
  border: 1px solid transparent;
  transition: border-color 0.2s ease-in-out;
}

.navigation-user_active {
  background-color: var(--background-secondary);
}

.navigation-user:hover {
  border-color: var(--background-secondary);
}

.navigation-user__arrow {
  fill: var(--background-secondary);
  margin-left: 8px;
}

.navigation-user_active .navigation__arrow {
  fill: var(--background-secondary-hover);
}
