.dropdown {
  background-color: $background-secondary;
  padding: 8px 0;
  box-shadow: $box-shadow-default;
  position: absolute;
  z-index: 1;
  max-height: 366px;
  overflow-y: auto;
  &__action {
    cursor: pointer;
    display: block;
    padding: 8px 16px;
    &:hover {
      background-color: $background-secondary-hover;
    }
    &_accent {
      color: $font-error;
    }
    &_selected {
      background-color: $background-secondary-active;
    }
  }
  &_hidden {
    display: none;
  }
  &_active {
    display: block;
  }
}
