html {
  font: $font;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

#app {
  min-height: inherit;
}

.main {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  &_row {
    flex-direction: row;
    align-items: flex-start;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: inherit;
}

h1 {
  font-size: $h1;
}