html {
  font: $font;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: inherit;
  width: 100vw;
}
