* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button {
  font: inherit;
  cursor: pointer;
  padding: 0;
  border: 0;
  border-color: transparent;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}
