$background-primary: #1f75cb;
$background-primary-hover: #1068bf;
$background-primary-active: #0b5cad;
$background-primary-disabled: #dcdcde;
$background-secondary: #ffffff;
$background-secondary-hover: #ececef;
$background-secondary-active: #dcdcde;
$background-bronze: #9e6955;
$background-error: #ee4222;
$background-disabled: #8e8e8e;

$font: normal 14px/19px 'Open Sans', sans-serif;
$font-primary: #1c1c1c;
$font-secondary: #ffffff;
$font-disabled: #8e8e8e;
$font-error: #ee4222;

$border-default: 1px solid rgba(0, 0, 0, 0.15);
$border-hover: 1px solid rgba(18, 19, 22, 0.5);
$border-active: 1px solid #1c1c1c;
$border-disabled: 1px solid rgba(0, 0, 0, 0.15);
$border-radius-default: 4px;

$box-shadow-default: 0px 0px 4px rgba(0, 0, 0, 0.25);
