@import '../../css/vars.css';
@import '../../css/main.css';
@import '../button/style.css';

.projects-empty {
  min-height: 100%;
  border: var(--border-default);
  border-radius: var(--border-radius-default);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects-empty__button {
  margin-top: 10px;
}
