@import '../../css/main.css';
@import '../../css/vars.css';

.status-label {
  display: inline-block;
  padding: 0 8px;
  border-radius: var(--border-radius-default);
  color: var(--font-secondary);
}

.status-label_draft {
  background-color: var(--background-bronze);
}

.status-label_progress {
  background-color: var(--background-bronze);
}

.status-label_completed {
  background-color: var(--background-primary);
}

.status-label_testing {
  background-color: var(--background-bronze);
}

.status-label_closed {
  background-color: var(--background-primary);
}

.status-label_deleted {
  background-color: var(--background-error);
}

.status-label_active {
  background-color: var(--background-primary);
}

.status-label_not-active {
  background-color: var(--background-disabled);
}
